.metamask-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #050506 0%, #0b0b0c 100%);
  min-height: 100vh;
}

.metamask-card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px;
  background: rgb(255 255 255 / 3%);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
}

.metamask-title {
  color: #fff;
  font-size: 32px;
}

.metamask-subtitle {
  color: #cbd5e1;
  font-size: 20px;
}

.metamask-button {
  width: 100px;
  padding: 10px 20px;
  border: none;
  color: #0b0b0c;
  transition:
    background-color 0.3s ease,
    transform 0.12s ease;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.metamask-button:hover {
  transform: translateY(-1px);
}
