.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
}

.header-logo-title {
  font-size: 32px;
  font-weight: 600;
}

.header-login-button {
  width: 130px;
  padding: 15px;
  color: #fff;
  background-color: blue;
  border-radius: 10px;
  font-size: 20px;
}
