* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: Mulish, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

a {
  color: #000000;
  text-decoration: none;
}
